nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0e153a;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
nav ul {
  list-style-type: none;
  color: white;
  margin: 0;
  background-color: #0e153a;
}
nav div > ul {
  display: flex;
}
nav div ul li {
  position: relative;
  width: 130px;
  height: 60px;
  display: flex;

  align-items: center;
  cursor: pointer;
}
nav div > ul > li {
  justify-content: center;
}
nav ul li span {
  margin-left: 8px;
}
nav ul li:hover {
  background-color: white;
  color: #0e153a;
}
nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background-color: #171e44;
  display: none;
}
nav ul li ul li {
  width: 180px;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
nav ul li ul li:hover {
  border-left: 5px solid green;
}
nav div ul li:hover > ul {
  display: block;
}
